<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="svc">
                    <security mode="Message">
                        <transport sslProtocols="None" />
                        <message algorithmSuite="Basic128" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8010/Serveur/Service"
                binding="netTcpBinding" bindingConfiguration="svc" contract="MiddlewareService.IServiceEntryPoint"
                name="svc">
                <identity>
                    <userPrincipalName value="DESKTOP-OM4P85P\Stoned Cat" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>