<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IService.Http" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="svc" closeTimeout="00:59:00" openTimeout="00:59:00"
                    receiveTimeout="00:59:00" sendTimeout="00:59:00" 
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Message">
                        <transport sslProtocols="None" />
                        <message algorithmSuite="Basic128" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8010/Serveur/Service"
                binding="netTcpBinding" bindingConfiguration="svc" contract="MiddlewareService.IServiceEntryPoint"
                name="svc">
                <identity>
                    <userPrincipalName value="DESKTOP-6U8M7TJ\Nico" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>