<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckerPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14080/CheckerService/CheckerServiceBean"
                binding="basicHttpBinding" bindingConfiguration="CheckerPortBinding"
                contract="JavaEEService.CheckerEndpoint" name="CheckerPort" />
        </client>
    </system.serviceModel>
</configuration>